.reviewer {
  background: url("../../assets/images/banner-image-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.reviewer-viewport {
  overflow: hidden;
  width: 100%;
  padding: 126px 0;
}

.reviewer-track {
  display: flex;
  transition: transform 0.5s ease;
}

.reviewer-slide {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.reviewer-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left !important;
  max-width: 900px;
  padding: 48px;
  border-radius: 5px;
}

.rv-title{
    font-size: 28px;
}

.reviewer-content h1 {
  letter-spacing: 0.03em;
  font-size: 57px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.2;
  color: var(--secondary-color);
  word-spacing: 2px;
}

.reviewer-content p {
  font-size: 14px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.reviewer-prev,
.reviewer-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.reviewer-prev {
  left: 40px;
}

.reviewer-next {
  right: 40px;
}

.reviewer-btn {
  max-width: 220px;
}

.reviewer-img-custom {
  width: 598px !important;
  height: 648px !important;
}

/* ===== Tablet ===== */
@media (max-width: 992px) {
  .reviewer-viewport {
    padding: 80px 0;
  }

  .reviewer-content {
    max-width: 90%;
    padding: 32px;
  }

  .reviewer-prev,
  .reviewer-next {
    left: 20px;
    right: 20px;
  }
}


/* ===== Mobile ===== */
@media (max-width: 576px) {
  .reviewer-viewport {
    padding: 60px 0;
  }

  .rv-title {
    font-size: 22px;
  }

  .reviewer-content {
    max-width: 95%;
    padding: 24px;
    border-radius: 10px;
  }

  .reviewer-content p {
    font-size: 13px;
  }

  .reviewer-stars {
    justify-content: center;
  }

  .reviewer-prev,
  .reviewer-next {
    display: none; /* mobile thường swipe thay vì nút */
  }
}