.section-title-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
}

.section-title{
    font-size: 38px;
    font-weight: 600;
}

.section-btn{
    max-width: 300px;
}

@media (max-width: 576px) {

.section-title-wrapper{
    align-items: start;
    flex-direction: column;
}
}