.selling{
    padding: 120px 0px;
    position: relative;
    overflow: hidden;
}

.prev-selling,
.next-selling {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.prev-selling {
  left: 40px;
}

.next-selling {
  right: 40px;
}


.selling-card__image{
    position: relative;
   
}

.selling-card__image img{
    width: 100%;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.selling-card__title{
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.2s ease;
}

.selling-card__title:hover{
    color: var(--primary-color);
}

.selling-card__author{
    color: var(--muted-text);
}

.selling-card__meta{
    display: flex;
    align-items: center;
    gap: 15px;
}

.selling-card__price{
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
}

.selling-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #e5e5e5;
    padding: 15px;
    border-radius: 12px;
    overflow: hidden;
 
}

.selling-card:hover .selling-action {
  transform: translateY(-10px) scale(1);
  opacity: 1;
}

.selling-action {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-bottom: 15px;
  transform: translateY(15px);
  opacity: 0;

  transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1),
              opacity 0.3s ease;
}

.selling-action-item{
    padding: 20px;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.selling-action-item:hover{
    background-color: var(--primary-color);
}